@using Forum.BL.Domain

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Comments</h2>
<table class="table" id="commentsTable"></table>

@section Scripts
{
    <script src="~/js/comment/index.js" defer></script>
}




